.Header6{
    margin-top: 5vh;
    text-align: left;
    color: white;
    display: block;
    height: 80vh;
    position: absolute;
    justify-content: right;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: rgb(37, 53, 81);
}