.Container1{
    height: 59vh;
    box-shadow: -1px -10px 10px 10px rgba(0,0,0,0.75);
    position: relative;
    margin: 0;
    transform: translate(0px, -50px);
}


.Container2{
    background-image: url("../Images/Screenshot\ 2023-07-26\ 113435.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 75vh;
    background-color: rgb(59, 59, 59);
    box-shadow: inset 0  30px 20px 0 rgba(0,0,0,0.75);

    
}

