.column1 {
    position: absolute;
    float: left;
    width: 33.3%;
    transform: translate(100px,100px);
  }

  .column2 {
    position: absolute;
    float: left;
    width: 33.3%;
    transform: translate(100px,300px);
  }

  .column3 {
    position: absolute;
    float: left;
    width: 33.3%;
    transform: translate(100px,600px);
  }
 
  .column4 {
    position: absolute;
    float: left;
    width: 33.3%;
    transform: translate(100px,900px);
  }

  .column5 {
    position: absolute;
    float: left;
    width: 33.3%;
    transform: translate(100px,1100px);
  }

  .column6 {
    position: absolute;
    float: left;
    width: 33.3%;
    transform: translate(100px, 1300px);
  }

  .column7 {
    position: absolute;
    float: left;
    width: 33.3%;
    transform: translate(100px,1500px);
  }

  
  .about-text{
      transform: translate(0px, 100px);
      
  }
  


  .container{
      color: rgb(255, 255, 255);
  }
  .about-section {
    font-family: 'Playfair Display', serif;  
    font-weight: bold;
    text-align: center;
    background-color: #181818;
    color: white;
    height: 100vh;
  }
  
  
  
  .about-text{
      text-align: center;
  }

  .Headline-text{
    transform: translate(0px, 100px);


  }

  .para-text1, .para-text2{
      transform: translate(0px, 300px);
  }
  
  
  
  
  
  