.column1 {
    position: absolute;
    float: left;
    width: 33.3%;
    transform: translate(200px,100px);
  }

  .column2 {
    position: absolute;
    float: left;
    width: 33.3%;
    transform: translate(900px,100px);
  }
.Name{
    color:white;
}
  .column3 {
    position: absolute;
    float: left;
    width: 33.3%;
    transform: translate(200px,500px);
  }
 
  .column4 {
    position: absolute;
    float: left;
    width: 33.3%;
    transform: translate(900px,500px);
  }

  .column5 {
    position: absolute;
    float: left;
    width: 33.3%;
    transform: translate(200px,900px);
  }

  .column6 {
    position: absolute;
    float: left;
    width: 33.3%;
    transform: translate(900px, 900px);
  }

  .column7 {
    position: absolute;
    float: left;
    width: 33.3%;
    transform: translate(200px,1300px);
  }

  
  .about-text{
      transform: translate(50px, 70px);
      margin-right: 50px;
      
  }
  .indent{
      text-align: center;
      margin-top: -1300px;
  }
.Another-ind{
    transform: translate(0px, 3300px);
}
  .column8{
      width:40%; 
      transform: translate(100px, 3405px); 
  }
  .column9{
    width:40%;
    transform: translate(870px, 3000px);
      
  }
  .column10{
    width:40%;
    transform: translate(100px, 3105px);

  }
  .column11{
    width:40%;
    transform: translate(870px, 2700px);


  }
  .column12{
    width:40%;
    transform: translate(100px, 2805px);


  }
  .column13{
    width:40%;
    transform: translate(870px, 2400px);


  }
  .column14{
    width:40%;
    transform: translate(100px, 2505px);


  }
  .column15{
    width:40%;
    transform: translate(870px, 2100px);


  }
  .column16{
    width:40%;
    transform: translate(100px, 2205px);



  }
  .column17{
    width:40%;
    transform: translate(870px, 1800px);


  }
  .column18{
    width:40%;
    transform: translate(100px, 1905px);


  }
  .column19{
    width:40%;
    transform: translate(870px, 1500px);


  }
  #contain2{
      background-color: black;
      color: white;
      width: 625px;
      height: 400px;
  }


  #contain{
      background-color: rgb(7, 7, 7);
      color: rgba(209, 209, 209, 0.973);
      height: 300px;
  }
  .about-section {
    font-family: 'Playfair Display', serif;  
    font-weight: bold;
    text-align: center;
    background-color: #000000;
    color: white;
    height: 100vh;
  }
  
  .img-{
      transform: translate(0px,0px);
      width:350px;
      height: 300px;
  }
  
  .about-text{
      text-align: center;
  }

  .Headline-text{
    transform: translate(0px, 100px);


  }

  .greet{
      color: white;
  }

  .para-text1, .para-text2{      
      transform: translate(0px, 300px);
  }
  
  
  
  
  
  