.all-images{
    transform: translate(0px, 1000px);
    display: grid;
    gap: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 400px;
    align-content: start;
}
   


#image1{
   
    width: 300px;
    height: 200px;
}

#image2{
    width:  300px;
    height: 200px;
}

#image3{
    width:  300px;
    height: 200px;
}

#image4{
    width:  300px;
    height: 200px;
}

#image5{
    width:  300px;
    height: 200px;
}

#image6{
    width: 300px;
    height: 200px;
}